body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: rgb(255, 245, 245);
    font-family: Arial, sans-serif;
}

.timer-container {
    text-align: center;
}

#countdown {
    font-size: 48px;
    letter-spacing: 2px;
}
